@import url("https://fonts.googleapis.com/css?family=Pacifico");

body {
  background: #f7f8f9;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

#logo {
  font-size: 35px;
  color: #fff;
  font-family: "Pacifico";
  margin-bottom: 10px;
}

.color-palette-icon {
  width: 40px;
  height: 40px;
  border: 0.05rem solid #dadee4;
  border-radius: 4px;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;

  &:last-of-type {
    margin-right: 0;
  }
}

// .toast {
//   position: fixed;
//   bottom: 1rem;
//   right: 1rem;
//   max-width: 400px;
// }

.notifications {
  right: 1rem !important;
}

.notification {
  margin-bottom: 1rem;
}
